# Python Basics for Astronomy

In [1]:
# My first code in Python
print("hello world!")

hello world!

### 1. Comments

In [2]:
"""
This is my first line of comment
This is my second line of comment
"""

'\nThis is my first line of comment\nThis is my second line of comment\n'

In [4]:
# Selected the text below and pressend ctrl + /
# This is my first comment
# This is my second comment
# dsmnfksmdf
# sd'fskfmsdlkf;sdfsf
# smslkfms

### 2. Variables and Constants

In [5]:
x = 4
y = 5
print(x + x + y + x + y)

22

In [6]:
y = 1

### 3. Basic Data Types

In [7]:
# Create varaibles to store the information about a planet in our Solar System
planet_name = 'Venus'
planet_age = '4.6 Billion Years'
planet_index = 1     # In Python, index starts from 0. Hence, Venus is on Index 1 after Mercury on Index 0

In [8]:
# Displaying the data values for each variables
print(planet_name)
print(planet_age)
print(planet_index)

Venus
4.6 Billion Years
1

In [9]:
# Checking the type of variables by using type() command
print(type(planet_name))
print(type(planet_age))
print(type(planet_index))

<class 'str'>
<class 'str'>
<class 'int'>

In [10]:
z = 3.2
print(type(z))

<class 'float'>

### 4. f-strings

In [11]:
# Understanding the power of f-strings
name_planet = 'Saturn'
moons_planet = 150
print(f"Planet {name_planet} has {moons_planet} Moons")

Planet Saturn has 150 Moons

In [12]:
# String concatenation
str_1 = "Earth is the only planet with Life."
str_2 = "Maybe not! :D"
print(f'{str_1} {str_2}')

Earth is the only planet with Life. Maybe not! :D

### 5. User Inputs

In [13]:
# Use input() to take user inputs
user_name = input("Enter your name:- ")

Enter your name:- Paweł

In [14]:
# Displaying the variable and its type given by the user
print(user_name)
print(type(user_name))

Paweł
<class 'str'>

In [15]:
# Ask user to input their fav number
user_fav_number = input('Enter your favourite number:- ')

Enter your favourite number:- 23

In [16]:
# Diplay the variable and its type given by the user
print(user_fav_number)
print(type(user_fav_number))

23
<class 'str'>

### 6. Data Type Conversion

In [17]:
# Commands to convert --> str(input), int(input), float(input)

# Convert a string data into integer and float
str_to_int = int(user_fav_number)
print(str_to_int)
print(type(str_to_int))

str_to_float = float(user_fav_number)
print(str_to_float)
print(type(str_to_float))

23
<class 'int'>
23.0
<class 'float'>

In [18]:
# Get user input of two different integers and add them together
n1 = int(input('Give any integer number:- '))
n2 = int(input('Give one more integer:- '))
print(f"The sum of {n1} and {n2} is {n1+n2}")

Give any integer number:- 3
Give one more integer:- 23
The sum of 3 and 23 is 26

### 7. Control Flow
* For Loop and While Loop
* Condition Statements

In [19]:
# range(start, end, skip) ---> Start is inclusive and end is exclusive
range(1, 11)

range(1, 11)

In [20]:
# For loop
for index in range(1, 11, 2):
  print(index)

1
3
5
7
9

In [21]:
# convert any string into lower case
str_demo = 'Upper Case'
print(str_demo)

print(str_demo.lower())

Upper Case
upper case

In [22]:
# While Loop

ct = 0
print('--- Type "quit" to exit! ---')
while True:
  obj = input(f'Enter your favourite Celestial Object {ct+1}:- ')
  ct += 1 # ct = ct + 1
  if obj.lower() == 'quit':
    break

--- Type "quit" to exit! ---
Enter your favourite Celestial Object 1:- Earth
Enter your favourite Celestial Object 2:- Sun
Enter your favourite Celestial Object 3:- Black Hole
Enter your favourite Celestial Object 4:- QuiT

### 8. Functions

In [23]:
# Creating a function to greet viewers of this video without any input arguments
def greet():
  print('Hey Astrophiles!')

In [24]:
# Call that function
greet()

Hey Astrophiles!

In [25]:
# Define a function to greet a person whose name will be given as an input
def greet_person(name):
  print(f'Hey {name}, I hope you are enjoying this session and learning a lot of things in Python!')

In [26]:
# Call that function
greet_person('Paweł')

Hey Paweł, I hope you are enjoying this session and learning a lot of things in Python!

In [27]:
# Call this function with different name
greet_person('Adam')

Hey Adam, I hope you are enjoying this session and learning a lot of things in Python!

In [28]:
# Call this function to greet everyone here watching the video
greet_person('everyone')

Hey everyone, I hope you are enjoying this session and learning a lot of things in Python!

In [29]:
# Postional Arguments
def greeting(name, msg):
  print(f'Hey {name}, {msg}')

In [30]:
# Call this function by placing the input arguments in the same order while building it
greeting('Paweł', 'are you an Astrophile?')

Hey Paweł, are you an Astrophile?

In [31]:
# Call the function by shifting the postions of the arguments
greeting('Are you an Astrophile?', 'Paweł')

Hey Are you an Astrophile?, Paweł

In [32]:
# Call this function with keyword arguments
greeting(msg = 'Are you an Astrophile?', name = 'Paweł')

Hey Paweł, Are you an Astrophile?

In [33]:
# Default arguments
def greeting_with_default_args(name, msg='Welcome to this program on Astronomy Visualization!'):
  print(f'Hey {name}, {msg}')

In [34]:
# Call this function without passing msg arg
greeting_with_default_args('Paweł', msg = 'Whats up?')

Hey Paweł, Whats up?

In [35]:
# Create a function that will either add, subtract, multiply or divide two input numbers
def basic_calc(n1, n2, operation):
  """
  Creates a basic calculator that takes n1 and n2 in the same order and performs either of:-
  - add
  - subtract
  - multiply
  - divide

  Parameters -
  -----------
  n1 - first number
  n2 - second number
  operations - any of the operations mentioned above for our basic calc

  Return -
  ------
  The output of the operation done on n1 and n2
  """

  if operation.lower() == 'add':
    return n1+n2
  elif operation.lower() == 'subtract':
    return n1-n2
  elif operation.lower() == 'multiply':
    return n1*n2
  elif operation.lower() == 'divide':
    return n1/n2
  else:
    print(f'Opertation input can either take:- add, multiply, subtract or divide. You gave:- {operation}. Try again')

In [36]:
addition = basic_calc(2, 3, 'add')
print(addition)

5

In [37]:
multiply = basic_calc(3, 3, 'multiply')
print(multiply)

9

In [38]:
basic_calc(3, 3, 'daskdjakdjak')

Opertation input can either take:- add, multiply, subtract or divide. You gave:- daskdjakdjak. Try again